{% extends 'base.html' %}
{% block title %}
    Delete {{ request.user.name }} Shopping List
{% endblock title %}
{% block content %}
    <main class="recipe-form">
        Confirm Deletion
        <form method="post">
            {% csrf_token %}
            <div class="control">
                <button class="button">Delete</button>
            </div>
        </form>
    </main>
{% endblock content %}
