{% extends 'base.html' %}
{% block title %}
    {% if shoppingitem.owner == request.user %}
        Delete {{ shoppingitem.food_item.name }}
    {% else %}
        Access Denied
    {% endif %}
{% endblock title %}
{% block content %}
    {% if shoppingitem.owner == request.user %}
        <main class="recipe-form">
            Confirm Deletion
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="control">
                    <button class="button">Delete</button>
                </div>
            </form>
        </main>
    {% else %}
        <main>
            <p>You do not have access to this shopping list item</p>
            <div>
                <a href="{% url 'shopping_list' %}">Back to your shopping list</a>
            </div>
        </main>
    {% endif %}
{% endblock content %}
