{% extends 'base.html' %}
{% load multiply %}
{% block title %}
  {{ recipe.name }}
{% endblock title %}
{% block extralinks %}
  <span>
    <a href="{% url 'recipe_new' %}">New Recipe</a>
  </span>
{% endblock extralinks %}
{% block content %}
  <main class="recipe-detail center">
    <div>
      <a href="{% url 'recipe_edit' recipe.id %}">Edit</a>
      <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
    </div>
    {% if recipe.image %}<img src="{{ recipe.image }}" class="pull-right">{% endif %}
    <h1>{{ recipe.name }}</h1>
    <h2>by: {{ recipe.author | default_if_none:"Unknown" }}</h2>
    <p>
      Created on {{ recipe.created }} |
      Updated on {{ recipe.updated }}
    </p>
    <form method="post" action="{% url 'recipe_rating' recipe.id %}">
      {% csrf_token %}
      {{ rating_form.as_p }}
      <button class="button">Rate</button>
    </form>
    <p>
      Tags:
      {% for tag in recipe.tags.all %}{{ tag.word }}{% endfor %}
    </p>
    <p>{{ recipe.description }}</p>
    <h2>Ingredients</h2>
    <table class = "beigeborder">
      <thead>
        <tr>
          <th colspan="2">Amount</th>
          <th>Food item</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe.ingredients.all %}
          <tr>
            <td>{{ multiplier | multiply:ingredient.amount }}</td>
            <td>{{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
            <td>
              {% if ingredient.food not in food_in_shopping_list %}
              <form action="{%url 'add_button'%}" method="get">
                <input type="hidden" value = "{{ingredient.recipe.pk}}" name = "recipe_item_variable">
                <input type="hidden" value= "{{ingredient.food.pk}}" name = 'food_item_variable'>
                <input type="submit" class ="btn" value = "+ Shopping List" name = 'additem'>
              </form>
              {% else %}
              in list
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>Servings<form method = "get"><input type="number" name = "multiplier_input"><button type="submit">Submit</button></form></div>
    
    <h2>Steps</h2>
    <ol>
      {% for step in recipe.steps.all %}<li>{{ step.directions }}</li>{% endfor %}
    </ol>
  </main>
{% endblock content %}
