{% extends 'base.html' %}
{% block title %}
  Scrumptious
{% endblock title %}
{% block extralinks %}
  <span>
    <a href="{% url 'recipe_new' %}">New Recipe</a>
  </span>
{% endblock extralinks %}
{% block searchbar %}
  <p>
    <form method='GET'>
      <input type='text' name="q">
      <button type='submit'>Search</button>
    </form>
  </p>
{% endblock searchbar %}
{% block content %}
  <main class="recipe-grid">
    {% for recipe in recipes %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </h2>
        <p class="recipe-card-date">{{ recipe.updated }}</p>
      </div>
    {% endfor %}
  </main>
{% endblock content %}
{% block footer %}
  <footer>
    <span>
      {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}&q={{ query }}">Previous</a>{% endif %}
    </span>
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    <span>
      {% if page_obj.has_next %}<a href="?page= {{ page_obj.next_page_number }}&q={{ query }}">Next</a>{% endif %}
    </span>
  </footer>
{% endblock footer %}
