{% extends 'base.html' %}
{% block title %}
    {{ tag.name }}
{% endblock title %}
{% block extralinks %}
    <span>
        <a href="{% url 'tag_new' %}">New Tag</a>
    </span>
{% endblock extralinks %}
{% block content %}
    <main>
        <h1>{{ tag.name }}</h1>
        <p>{{ tag.description }}</p>
        <div class='recipe-grid'>
            {% for recipe in tag.recipes.all %}
                <div class="recipe-card">
                    <h2 class="recipe-card-title">
                        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
                    </h2>
                    <p class="recipe-card-date">{{ recipe.updated }}</p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
