{% extends 'base.html' %}
{% block title %}
  {% if mealplan.owner == request.user %}
    {{ mealplan.name }}
  {% else %}
    Access Denied
  {% endif %}
{% endblock title %}
{% block extralinks %}
  <span>
    <a href="{% url 'mealplan_create' %}">New Plan</a>
  </span>
{% endblock extralinks %}
{% block content %}
  {% if mealplan.owner == request.user %}
    <main class="recipe-detail center">
      <div>
        <a href="{% url 'mealplan_edit' mealplan.pk %}">Edit</a>
        <a href="{% url 'mealplan_delete' mealplan.pk %}">Delete</a>
      </div>
      <h1>{{ mealplan.name }}</h1>
      <p>Mealplan for {{ mealplan.date }}</p>
      {% for recipe in mealplan.recipes.all %}
        <div>
          <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </div>
      {% endfor %}
    </main>
  {% else %}
    <main>
      <p>You do not have access to this private meal plan</p>
      <div>
        <a href="{% url 'mealplans' %}">Back to your meal plans</a>
      </div>
    </main>
  {% endif %}
{% endblock content %}
