{% extends 'base.html' %}
{% block title %}
  {% if mealplan.owner == request.user %}
    Edit {{ mealplan.name }} -Mealplan
  {% else %}
    Access Denied
  {% endif %}
{% endblock title %}
{% block content %}
  {% if mealplan.owner == request.user %}
    <main class="recipe-form">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
          <button class="button">Update</button>
        </div>
      </form>
    </main>
  {% else %}
    <main>
      <p>You do not have access to this private meal plan</p>
      <div>
        <a href="{% url 'mealplans' %}">Back to your meal plans</a>
      </div>
    </main>
  {% endif %}
{% endblock content %}
