{% extends 'base.html' %}
{% block title %}
  Meal Plans
{% endblock title %}
{% block extralinks %}
  <span>
    <a href="{% url 'mealplan_create' %}">New Plan</a>
  </span>
{% endblock extralinks %}
{% block searchbar %}
  <p>
    <form method='GET'>
      <input type='text' name="q">
      <button type='submit'>Search</button>
    </form>
  </p>
{% endblock searchbar %}
{% block content %}
  <main class="recipe-grid">
    {% for mealplan in mealplans %}
      {% if mealplan.owner == request.user %}
        <div class="recipe-card">
          <h2 class="recipe-card-title">
            <a href="{% url 'mealplan_detail' mealplan.pk %}">{{ mealplan.name }}</a>
          </h2>
          <p class="recipe-card-date">{{ mealplan.date }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </main>
{% endblock content %}
{% block footer %}
  <footer>
    <span>
      {% if page_obj.has_previous %}
        <a href = "?page={{ page_obj.previous_page_number }}&q={{ query }}">Previous</a>
      {% endif %}
    </span>
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    <span>
      {% if page_obj.has_next %}<a href= "?page={{ page_obj.next_page_number }}&q={{ query }}">Next</a>{% endif %}
    </span>
  </footer>
{% endblock footer %}
