@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.detail {
  background-color: rgb(39, 39, 39);
  color: rgb(126, 23, 23)
}

.beigeborder {
  border: 1px solid beige;
}

.color-beige {
  color: beige
}

html,
button,
select,
textarea,
input {
  font-family: 'Roboto';
  font-size: 16px;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
}

a,
a:visited {
  text-decoration: none;
  color: #208ACC;
}


button.button {
  background-color: #643739;
  border: 2px solid transparent;
  border-radius: 4px;
  color: beige;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #424242;
  color: #969696;
}

button.button:active {
  background-color: lightblue;
}

input,
textarea {
  border: 1px solid #4b4b4b;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin-left: 15px;
}

td,
th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.recipe-card-title {
  margin-bottom: 0;
}

.recipe-card-date {
  color: darkgray;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
  padding: 15px;
  color: bisque;
  background-color: rgb(126, 23, 23);
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2em;
  padding: 2em;
}