{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops!</title>
</head>

<body class="detail">
    <h1>
        Warning
    </h1>
    <h2 class='color-beige'>
        You have attempted to access a page that does not exist
    </h2>
    <h3 class='color-beige'>
        <a href="{%url 'recipes_list' %}">
            Click here to return to scrumptious
        </a>
    </h3>
</body>

</html>