{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body class = 'detail'>
        <header>
            <nav>
                <ul>
                    <span>
                        <a href="{% url 'home' %}">Recipes</a>
                    </span>
                    {% if user.is_staff %}
                        <span>
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </span>
                    {% endif %}
                    <span>
                        <a href="{% url "tags_list" %}">Tags</a>
                    </span>
                    <span>
                        <a href="{% url 'mealplans' %}">Meal Plans</a>
                    </span>
                    <span>
                        <a href="{% url 'shopping_list' %}">Shopping List {{ request.user.shopping_items.all|length }}</a>
                    </span>
                    {% block extralinks %}
                    {% endblock extralinks %}
                    <span>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href=" {% url 'login' %}">Login</a>
                        {% endif %}
                    </span>
                </ul>
            </nav>
            {% block searchbar %}
            {% endblock searchbar %}
        </header>
        {% block content %}
        {% endblock content %}
        {% block footer %}
        {% endblock footer %}
    </body>
</html>
